
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');


*{
    box-sizing: border-box;
}



body{
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    font-family: 'Kumbh Sans', sans-serif;
    caret-color: #5964E0;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-logo{
    background: url('../images/header_mobile.svg');
    background-size: cover;
    height: 9rem;
    
}

.row{
    margin: 0 auto;
}

.center-column{
    margin: 0 auto;

}

.col-header{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 32px;
}

/***Jobs CSS **/
/* 
<label class="switch">
<input type="checkbox"/>
<span class="sliderround"></span>
</label> */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
    margin: 0px 16px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffff;
    -webkit-transition: .4s;
    transition: .4s;
   
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 6px;
   
    bottom: 4px;
    background-color: #5964E0;
    -webkit-transition: .4s;
    transition: .4s;
  }

  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }