.company-logoHolder {
	width: 50px;
	height: 50px;
	background-color: teal;
	padding: 7px;
	position: absolute;
	top: -10%;
	margin-bottom: 24px;
	border-radius: 15px;
}

.Job-location {
	color: #5964e0;
	line-height: 17px;
	font-size: 0.9rem;
	font-weight: 600;
}

.Job-dot {
	color: #6e8098;
}
.Job-title p {
	color: #19202d;
	text-transform: capitalize;
	font-weight: 600;
	line-height: 24px;
	font-size: 1.3rem;
}

.Job-company {
	color: #6e8098;
	text-transform: capitalize;
}

.Job-Deatils {
	position: relative;
	margin-top: 35px;
}

.Job-post {
	background-color: white;
	margin-bottom: 24px;
	border-radius: 6px;
	position: relative;
	padding: 32px;
}

.Job-post-wrapper {
	position: relative;
}

.company-logo {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.Jobs-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	grid-column-gap: 30px;
	row-gap: 24px;
}

.Job-single {
	/* width: 327px;
    height: 253px; */
}

.Job-single .company {
	font-size: 0.8rem;
}

@media (min-width: 768px) {
	.Jobs-wrapper {
		grid-column-gap: 11px;
		row-gap: 40px;
	}
}

@media (min-width: 992px) {
	.Jobs-wrapper {
		grid-column-gap: 30px;
		row-gap: 40px;
	}
}
