.SearchBar-wrapper {
	position: relative;
	top: -50%;
}
/** Icons that only display on desktop and tablet**/
.search-DandT {
	display: none;
}

.modal-content {
	border: none;
	border-color: transparent;
	border-radius: 11px;
}

/*Gid Rid of Boostrap Styles && Button Styles*/

.search_drilldown-holder button {
	background-color: transparent;
	outline: none;
}
.search_drilldown-holder button:hover,
.search_drilldown-holder button:focus {
	border: transparent !important;
	outline: transparent !important;
	background-color: transparent !important;
	box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 11%) !important;
}

.SearchBar input,
.SearchBar button,
.Search_Container-modal input {
	border: none;
	outline: none;
	background-color: none;
}

.btn {
	background-color: #5964e0;
	border-radius: 5px;
	color: white;
}

.btn-search-modal {
	margin: 24px;
	padding-top: 15px;
	padding-bottom: 15px;
}

/*Gid Rid of Boostrap Styles */

/** Wrappers **/

.search-wrapper {
	background-color: #ffff;
	border-radius: 6px;
	margin: 0 auto;
	width: 100%;
}
.Search_Container {
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.Search_Container-modal {
	display: grid;
	grid-template-rows: 1fr auto;
	align-content: center;
}

.search_Input-holder {
	width: 75%;
	height: 100%;
}

.search_Input-holder input,
.modal-location,
.Search_checkbox {
	height: 100%;
	width: 100%;
	margin-left: 24px;
}
.modal-location {
	display: grid;
	align-content: center;
}

.modal-locationDandT {
	display: none;
}

.modal-location div {
	margin: 24px 0px 24px 0px;
}

.Search_checkbox {
	margin-right: 24px;
	margin-top: 24px;
	padding: 0px;
}

.search-icon-modal {
	margin-right: 18px;
}

.searchModal-hr {
	padding: 0px;
	margin: 0px;
}

.searchModal-hr {
	width: 100%;
	opacity: 0.2;
	background-color: #6e8098;
}

.search-holder-white {
	margin: 1rem 1rem 1rem 1.5rem;
}
.search-holder button {
	padding: 14px;
	border-radius: 5px;
}

/*********************** CheckBox Styles *****************************/

.container_check {
	display: block;
	position: relative;
	padding-left: 35px;

	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.container_check input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 6px;
	left: 0;
	height: 24px;
	width: 24px;
	background: #97979759;

	border-radius: 3px;
}

/* On mouse-over, add a grey background color */

/* When the checkbox is checked, add a blue background */
.container_check input:checked ~ .checkmark {
	background: #5964e0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container_check input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container_check .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.Search_FullTime {
	font-size: 14px;
	font-weight: 600px;
	position: relative;
	top: 4px;
}

/**** Tablet Desktop **************/

@media (min-width: 768px) {
	.search_drilldown-holder {
		display: none;
	}
	.search-DandT {
		display: block;
	}
	.modal-location,
	.onlyOnmobile {
		display: none;
	}
	.warpper-location {
		display: grid;
		align-content: center;
	}
	.Search_Container {
		display: grid;
		grid-template-columns: 1fr 1fr auto;
		gap: 20px;
	}
	.another-wrapper {
		display: flex;
		align-items: center;
	}
	.search-icons {
		margin: 28px 16px 28px 24px;
	}
	.search_Input-holder input {
		margin-left: 0px;
	}
	.modalLocation {
		display: flex;
	}
	.search_Input-holder {
		width: auto;
	}
	.warpper-location {
		border-left: 1px solid;
		border-right: 1px solid;
		border-color: rgb(110 128 152 / 0.2);
	}
	.Search-CheckBox {
		margin-left: 1rem;
	}
	.search_Input-holder input {
		height: auto;
	}
}
